/[[]Robin]-UT1-Practica2/build/
/UT1/RepasoInicial/build/
/UT1/RepasoInicial/dist/
/UT1/RepasoInicial/nbproject/private/
/UT1/Robin-UT1-Practica1/nbproject/private/
/UT1/[[]Robin]-UT1-Practica2/build/
/UT1/[[]Robin]-UT1-Practica2/nbproject/private/
/UT2/Robin-UT2-P1/nbproject/private/
/UT2/Robin-UT2-P1/build/
/UT1/Robin-UT1-P3/nbproject/private/
/UT2/Robin-UT2-P2/nbproject/private/
/UT3/Robin-UT3-P1/nbproject/private/
/UT3/Robin-UT3-P1/build/
